include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        section.parallax-mountains
          - var n = 1;
              while n <= 7
                .parallax-mountains__layer
                  +image(`parallax/mountain/mountain${n}.png`, "parallax-mountains__image")
                  - n++;
        section.section.hero.section--full
          .container.hero__container
            header.header.hero__header
              .hero__logo
                .logo BA
              .hero__links 
                nav.nav
                  - var menu = ['Главная', "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
              .hero__menu
                - var icons = ['insta', 'vk', 'github']
                ul.socials
                  each item, index in icons
                    li.socials__item(class=`${index === 1 ? 'active' : ''}`)
                      a(href="").socials__link
                        +icon(`${item}`, 'socials__icon')
            .hero__content
              .welcome
                .welcome__desc
                  h1.welcome__title Личный сайт <br/> веб разработчика
                .welcome__username Владимир <br/> Астаханов
            .hero__btns
              .scroll-down-btn Скролл
              +icon('scroll', 'scroll-down-btn__icon')
            
        section.section.about.section--half
          .container.about__container
            .about__left
              .user
                .avatar.user__avatar
                  +image("content/user.jpg", "avatar__pic")
                ul.user__desc
                  - 
                    var items = [
                      ['Проживаю', 'Новосибирск'],
                      ['Возраст', '27 лет'],
                      ['Родился', '1 января 1991'],
                    ]
                  each item in items
                    li.user__desc-item
                      .user__col.user__key #{item[0]}
                      .user__col.user__value #{item[1]}
            .about__right
              h4.about__prolog Привет, меня зовут
              h2.about__title Владимир Астаханов
              .about__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        .triangles
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 0,100 1000,100")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,100 1000,100 1000,0")

      .middle-section
        section.section.section-values.section--full
          .container.values__container
            .values__title
              h2.section-title.values__title-text Чем я могу быть вам полезен вам

            .values-content
              .values-content__left
                +image("content/backpack.png", "values__pic")
              .values-content__right
                h3.values-subtitle Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                ul.skill-category
                  - 
                    var skills = [
                      ['Front-end', [['HTML5',80], ['CSS3',60], ['Javascript',70], ['jquery и Vue.js', 50]]],
                      ['Workflow', [['GIT',90], ['Terminal',30], ['Gulp',40], ['Webpack',35]]],
                    ]
                  each item in skills 
                    li.skill-category__item.skills-row 
                      h3.skills-row__title #{item[0]}
                      ul.skills-row__list
                        each skill in item[1]
                          li.skills-row__item
                            .skill
                              .skill__wrapper
                                svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                                  circle(r="80" cx="100" cy="100").skill__circle.skill__circle--under
                                  circle(r="80" cx="100" cy="100" transform='rotate(180 100 100)' stroke-dashoffset=`${(250-skill[1]*2.5) +"%"}`).skill__circle.skill__circle--above
                                  linear-gradient()
                                .skill__title #{skill[0]}
                      
        section.section.works.section--full
          .container.works__container
              .works__title
                h2.section-title Мои работы
              .works
                .works__left
                  .slider
                    +image("content/slider-stub.png", "slider__fillpic")
                    .slider__preview
                      ul.previews
                        - for (var i = 0; i < 3; i++)
                          li.previews__item
                            img.previews__pic
                    .slider__buttons
                        button.slider-button.slider-button--prev 
                          +icon('arrow-down', 'slider-button__icon')
                        button.slider-button.slider-button--next
                          +icon('arrow-down', 'slider-button__icon')
                    .slider__current 4
                .works__right
                  .works__tags
                    - var tags = ['HTML', 'CSS', 'Javascript']
                    ul.tags
                      each tag in tags
                        li.tags__item #{tag}
                  .works__text
                    h3.works__title Сайт школы <br/> образования
                    .works__desc-text
                      p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    a.iconed-link
                      +icon('link', 'iconed-link__icon')
                      .iconed-link__text Посмотреть сайт

      .last-section
        .triangles
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 1000,80 1000,0")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 1000,0 0,80")
        
        section.section.reviews.section--half.section--left
          .reviews__title
            h2.section-title Что обо мне говорят
            .reviews__slider-buttons.reviews-slider__buttons
              button.reviews-slider__button.reviews-slider__button--prev 
                +icon('arrow-down', 'reviews-slider__button__icon')
              button.reviews-slider__button.reviews-slider__button--next
                +icon('arrow-down', 'reviews-slider__button__icon')

          .reviews__slider
            ul.reviews__list
              - var reviews = [['Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!','Ковальчук Дмитрий','Основатель Loftschool','content/reviewer1.png' ], ['Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах','Владимир Сабанцев','Преподаватель','content/reviewer2.png' ]]
                each review in reviews
                  li.reviews__list-item.review 
                    .review-left
                      +icon('quote', 'review__icon-quote')
                    .review-right 
                      .review-text #{review[0]}
                      .review-author
                        .review-author__left
                          +image(review[3], "review-author__pic")
                          
                        .review-author__right
                          .review-author__name #{review[1]}
                          .review-author__desc #{review[2]}
        
        section.section.contact.section--half.section--left
          .contact__title
            h2.section-title Связаться со мной
          .contact__form
            form#contact-form

              .contact__form-row.contact__form-row--two
                label.contact__form-block
                  .contact__form-block-wrapper
                    .contact__form-label Введите ваше имя
                    +icon('user', 'contact__form-icon')
                    input.contact__form-input(name='name' type='text' placeholder='Ковальчук Дмитрий' required='')

                label.contact__form-block
                  .contact__form-label Введите ваш email
                  +icon('envelope', 'contact__form-icon')
                  input.contact__form-input.phone-mask(name='email' type='email' placeholder='loftschool@study.com' required='')

              .contact__form-row
                label.contact__form-block
                  .contact__form-label Сообщение к письму
                  +icon('message', 'contact__form-icon')
                  textarea.contact__form-input.contact__form-input_textarea(name='comment' placeholder!='Требуется ваша помощь в создании сайта.\nИнтересуют сроки и цена вопроса' required='')
        
              .contact__form-row
                input#contact.contact__form-button(name='' type='submit' value='Отправить')
        .footer
          .footer__copyright © 2019
          .footer__author
            .footer__author__name Владимир<br/>Астахов
            .footer__author__desc Личный сайт<br/>веб-разработчика
          .footer__misc
            .footer__nav
              nav.nav.nav--footer
                - var menu = ['Главная', "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
                ul.nav__list
                  each item in menu
                    li.nav__item
                      a(href="").nav__link #{item}
            .footer__left
              .footer__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
              .footer__socials
                - var icons = ['insta', 'vk', 'github']
                  ul.socials.socials--footer
                    each item, index in icons
                      li.socials__item(class=`${index === 1 ? 'active' : ''}`)
                        a(href="").socials__link
                          +icon(`${item}`, 'socials__icon')
            .footer__right
              .footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
              .footer__quote-author Martin Golding
            
        