include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        section.parallax.parallax-mountains
          - var paralaxMountainsSpeed = [0, 0.5, 0.5, 0.38, 0.45, 0.68, 0.25]
              each item, index in paralaxMountainsSpeed
                .parallax-mountains__layer(data-speed=`${item}`)
                  +image(`parallax/mountain/mountain${index+1}.png`, "parallax-mountains__image")

        section.section.section--full.hero
          .container.hero__container
            header.header.hero__header
              .header__logo
                .logo BA
              .header__menu
                a.header__menu-close(href="")
                nav.nav
                  - var menu = ['Главная', "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
                
              .header__links
                - var icons = ['insta', 'vk', 'github']
                ul.socials
                  each item, index in icons
                    li.socials__item(class=`${index === 1 ? 'active' : ''}`)
                      a(href="").socials__link
                        +icon(`${item}`, 'socials__icon')
              .header__hamburger
                a.header__hamburger-menu(href="")
                  .header__hamburger-bars
              </a>

            .hero__content
              .welcome
                .welcome__desc
                  h1.welcome__title Личный сайт <br/> веб разработчика
                .welcome__username Владимир <br/> Астаханов
            .hero__btns
              .scroll-down-btn Скролл
              +icon('scroll', 'scroll-down-btn__icon')
            
        section.section.about.section--half
          .container.about__container
            .about__left
              .user
                .avatar.user__avatar
                  +image("content/user.jpg", "avatar__pic")
                ul.user__desc
                  - 
                    var items = [
                      ['Проживаю', 'Новосибирск'],
                      ['Возраст', '27 лет'],
                      ['Родился', '1 января 1991'],
                    ]
                  each item in items
                    li.user__desc-item
                      .user__col.user__key #{item[0]}
                      .user__col.user__value #{item[1]}
            .about__right
              h4.about__prolog Привет, меня зовут
              h2.about__title Владимир Астаханов
              .about__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        .triangles.triangles--indented
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 0,100 1000,100")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,100 1000,100 1000,0")

      .middle-section
        section.section.values.section--full
          .container.values__container
            .values__title
              h2.section-title.values__title-text Чем я могу быть вам полезен вам
              h3.values-subtitle Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .values-content
              .values-content__left
                +image("content/backpack.png", "values__pic")
              .values-content__right
                #skills-component
                      
        section.section.works.section--full
          .container.works__container
              .works__title
                h2.section-title Мои работы
              #slider-component  
              //- .works
              //-   .works__left
              //-     .slider
              //-       +image("content/slider-stub.png", "slider__fillpic")
              //-       .slider__preview
              //-         ul.previews
              //-           - for (var i = 1; i < 4; i++)
              //-             li(class=`previews__item${i==3? " previews__item--selected" : ""}`)
              //-               +image(`works/${i+1}.jpg`, `previews__pic`)
              //-       .slider__buttons
              //-           button.slider-button.slider-button--prev 
              //-             +icon('arrow-down', 'slider-button__icon')
              //-           button.slider-button.slider-button--next
              //-             +icon('arrow-down', 'slider-button__icon')
              //-       .slider__current 4
              //-   .works__right
              //-     .works__tags
              //-       - var tags = ['HTML', 'CSS', 'Javascript']
              //-       ul.tags
              //-         each tag in tags
              //-           li.tags__item #{tag}
              //-     .works__text
              //-       h3.works__sub-title Сайт школы <br/> образования
              //-       .works__desc-text
              //-         p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
              //-       a.iconed-link
              //-         +icon('link', 'iconed-link__icon')
              //-         .iconed-link__text Посмотреть сайт

      .last-section
        section.parallax.parallax-cloud
          - var paralaxCloudSpeed = [0, -0.5, -0.5, -0.38, -0.3, -0.3]
              each item, index in paralaxCloudSpeed
                .parallax-cloud__layer(data-speed=`${item}`)
                  +image(`parallax/cloud/cloud${index+1}.png`, "parallax-cloud__image")

        .triangles
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 1000,80 1000,0")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 1000,0 0,80")
        
        section.section.reviews.section--half.section--left
          .reviews__title
            h2.section-title Что обо мне говорят
            .reviews__slider-buttons.reviews-slider__buttons
              //- button.reviews-slider__button.reviews-slider__button--prev 
              //-   +icon('arrow-down', 'reviews-slider__button__icon')
              //- button.reviews-slider__button.reviews-slider__button--next
              //-   +icon('arrow-down', 'reviews-slider__button__icon')
          .reviews__slider
            #reviewsSlider
        
        section.section.contact.section--half.section--left
          .contact__title
            h2.section-title Связаться со мной
          form#contact-form.contact__form
            .contact__form-row.contact__form-row--two
              label.contact__form-block
                .contact__form-block-wrapper
                  .contact__form-label Введите ваше имя
                  +icon('user', 'contact__form-icon')
                  input.contact__form-input(name='name' type='text' placeholder='Ковальчук Дмитрий' required='')

              label.contact__form-block
                .contact__form-label Введите ваш email
                +icon('envelope', 'contact__form-icon')
                input.contact__form-input.phone-mask(name='email' type='email' placeholder='loftschool@study.com' required='')

            .contact__form-row
              label.contact__form-block
                .contact__form-label Сообщение к письму
                +icon('message', 'contact__form-icon')
                textarea.contact__form-input.contact__form-input_textarea(name='comment' placeholder!='Требуется ваша помощь в создании сайта.\nИнтересуют сроки и цена вопроса' required='')
      
            .contact__form-row
              input#contact.contact__form-button(name='' type='submit' value='Отправить')
        section.footer
          .footer__left
            .footer__copyright © 2019
            .footer__author
              .footer__author__name Владимир <br/>Астахов
              .footer__author__desc Личный сайт<br/>веб-разработчика
          .footer__right
            .footer__misc
              .footer__nav
                nav.nav.nav--footer
                  - var menu = ['Главная', "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
              .footer__misc-left
                .footer__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                .footer__socials
                  - var icons = ['insta', 'vk', 'github']
                    ul.socials.socials--footer
                      each item, index in icons
                        li.socials__item(class=`${index === 1 ? 'active' : ''}`)
                          a(href="").socials__link
                            +icon(`${item}`, 'socials__icon')
              .footer__misc-right
                .footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                .footer__quote-author Martin Golding
            
      include ./templates/entry.pug